
<h1><%= @user.name%>'s Question List</h1>			
<% @user.questions.reverse.each do |q| %>


	<div>
		<p>Title: <a href="/questions/<%= q.id %>"><%= q.title %></a></p>
		<p>Question: <%= q.description %></p>
		<p>Posted on: <%= q.created_at %></p>	

	</div>

	<form action="/questions/<%= q.id %>">
		<input type ="submit" value="Answer">
	</form>      

	<br>		
<% end %>



<form action="/users/<%= @user.id %>" >
	<input type ="submit" value="Back">
</form>      